@import url(http://fonts.googleapis.com/css?family=Radley:400italic);

html { 
	background: url(/images/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
  background-color: transparent;
}

.container {
  margin: 40px auto 0 20px;
  background: rgba(255,255,255,0.6);
  max-width: 700px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: rgba(128,128,128,0.5) 5px 5px 5px;
  -moz-box-shadow: rgba(128,128,128,0.5) 5px 5px 5px;
  box-shadow: rgba(128,128,128,0.5) 5px 5px 5px;
}

h1{
  position: absolute;
  top: 28px;
  right: 200px;
  width: 600px;
  font-size: 6em;
  font-family: 'Radley', serif;
  font-style: italic;
  width: 400px;

  .devs {
    right: 0;
  }

  .on {
    top: 38px;
    position: absolute;
    font-size: .6em;
    left: 130px;
  }

  .the-green {
    top: 80px;
    position: absolute;
  }
}
